<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Welcome 👋</mat-toolbar>
    <mat-nav-list>
     
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <!-- <a mat-list-item routerLink="/about" (click)="drawer.close()">About</a> -->
      <!-- <a mat-list-item routerLink="/blog" (click)="drawer.close()">Blog</a> -->
      <!-- <a mat-list-item routerLink="/youtube" (click)="drawer.close()">Youtube</a> -->
      <!-- <a mat-list-item routerLink="/gifts" (click)="drawer.close()">Gifts</a> -->
      <!-- <a mat-list-item href="https://malamakai.etsy.com/" target="_blank">✨ Shop</a> -->
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/profile" (click)="drawer.close()">💦 Profile</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button 
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/">🌊 malamakai</span>

      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/">Home</a>
        <!-- <a mat-button routerLink="/about">About</a> -->
        <!-- <a mat-button routerLink="/blog">Blog</a> -->
        <!-- <a mat-button routerLink="/youtube">Youtube</a> -->
        <!-- <a mat-button routerLink="/gifts">gifts</a> -->
        <!-- <a mat-button href="https://malamakai.etsy.com/" target="_blank">✨ Shop</a> -->
        <a mat-button routerLink="/profile" *ngIf="!(afAuth.authState | async)">🔑 Login</a>
        <a mat-button routerLink="/profile" *ngIf="afAuth.authState | async as user">
          <img class="avatar" [src]="user.photoURL || 'assets/UserDoodle.svg'">Profile
        </a>
      </div>

       
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      
      <mat-menu #menu="matMenu">
        <a mat-menu-item href="https://github.com/davidmimay/malamakai" target="_blank">
          <i>💾</i><span>Code on Github</span>
        </a>
        <a mat-menu-item href="https://climate.stripe.com/W6nkrx" target="_blank">
          <i>🌱</i><span>Carbon Removal</span>
        </a>
        <a mat-menu-item href="" target="_blank">
          <i>📺</i><span>YouTube channel</span>
        </a>

        <p>BLOGS</p>
        <div *ngFor="let video of videos">
          <mat-list>
            <mat-list-item routerLink="{{video.id}}">{{video.title}}</mat-list-item>
          </mat-list>
        </div>

      </mat-menu>
      
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
