<main style="background-color: cornflowerblue;">


<section class="responsive-grid card-grid">
  <div class="grid-item" *ngFor="let koan of koanObservable | async">
   <!-- [routerLink]="pray.id"> -->
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon mat-list-icon>
          <div class="fire">
            <div class="fire-main">
              <div class="main-fire">
                <h1>🐟</h1>
                <!-- <img mat-card-image src='assets/turtle.svg' height="50px">-->
              </div>
              <div class="particle-fire"></div>
              <div class="particle-fire2"></div>
            </div>
          </div>
        </mat-icon>
      </button>

    <mat-menu #menu="matMenu">
      <div mat-menu-item>
        <mat-icon>🙏</mat-icon>
        <span>"{{ koan.info }}"</span>
      </div>
      <!-- TODO
      <button mat-menu-item disabled>
        <mat-icon>whatshot</mat-icon>
        <span>lit the candle</span>
      </button>
      -->
    </mat-menu>
  </div>
</section>

</main>
