<section class="wave">

  <div class="profile" *ngIf="customer | async as cust">
    <img class="avatar" [src]="cust.photoURL" />
    <div class="mat-display-1">{{ cust.displayName }}</div>
    <!-- <div class="mat-h1">{{ cust.location }}</div> -->
    <div class="mat-h2">{{ cust.bio }}</div>
    <a class="mat-h2" href={{cust.link}} target="_blank">{{ cust.link }}</a>
    
    <p>
      <mat-chip-list>
        <mat-chip *ngFor="let hobby of cust.hobbies.split(',')"><p>{{ hobby }}</p></mat-chip>
      </mat-chip-list>
    </p>
  </div>
 
</section>

<app-ocean></app-ocean>

<app-footer></app-footer>