<section class="wave">

  <mat-card *ngIf="customer | async as cust">
    <img mat-card-image [src]="cust.photoURL" />
    <mat-card-header>
      <mat-card-title>{{ cust.displayName }}</mat-card-title>
      <mat-card-subtitle><a href={{cust.link}} target="_blank">{{ cust.link }}</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ cust.link }}</p>
      <p>{{ cust.hobbies }}</p>

      <p>{{ cust.bio }}</p>
    </mat-card-content>
  </mat-card>

  <section *ngIf="customer | async as cust">
    <img mat-card-image [src]="cust.photoURL" />
    <h1>{{ cust.displayName }}</h1>

  </section>

</section>

<app-ocean></app-ocean>

<app-footer></app-footer>