<h2>hello</h2>

<div class="grid">
  <div *ngFor="let item of tasks; let i = index" (click)="openDialog(item, i)">
    <button mat-button class="animal" matTooltip="{{item.description}}" [ngClass]="item.label">{{item.label}}</button>
  </div>
</div>

<!-- <mat-list>
  <mat-list-item *ngFor="let item of invoices">
    <mat-icon mat-list-icon>note</mat-icon>
    <div mat-line>{{item.label}}</div>
    <div mat-line>{{item.number}}</div>
    <div mat-line> {{item.created | date}} </div>
  </mat-list-item>
</mat-list> -->