<form (ngSubmit)="onSaveUser(profileForm.value)" [formGroup]="profileForm">
  <mat-card class="center">
    <mat-card-header>
      <div>
        <p>Change image</p>
        <img [src]="currentImage" (click)="inputImageProfile.click()" />
        <input hidden type="file" #inputImageProfile formControlName="photoURL"
          (change)="handleImage(($event?.target?.files)[0])" />
      </div>

    </mat-card-header>
    <mat-card-content>

      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="displayName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>

      <button mat-raised-button value="Update">Save</button>
      
      <div role="alert" *ngIf="message">{{message}}</div>

    </mat-card-content>
  </mat-card>
</form>
